<!-- templates/about.html -->
{% extends 'base.html' %}
{% block content %}
<h1>Tender Monitor workflow</h1>
What was done description.

<ul>
    <li>+ Make simple Django Web server with HTML pages</li>
    <li>+ Create models at django_app/models.py </li>
    <li>+ Create Admin interface, superuser </li>
    <li>+ Install psycopg2 </li>
    <li>+ Config Postgresql database in settings.py </li>
    <li>+ Change home.html to display Tender list from the database via an HTML page</li>
    <li>+ Create Web API service. Make endpoint for displaying Tenders list
        <ul>
            <li> + Install Django REST Framework - DRF -> pipenv install djangorestframework</li>
            <li> + Update django_project/settings.py -> 'rest_framework',</li>
            <li> + Create new applications to handle API -> python manage.py startapp api</li>
            <li> + Update django_project/settings.py -> 'api',</li>
            <li> + Update project level urls -> add path('api/v1/', include('api.urls')),</li>
            <li> + Create and update api/urls.py and add route for TendersAPIView</li>
            <li> + Update api/views.py -> class TendersAPIView</li>
            <li> + Create api/serializers.py - class TendersSerializer</li>
            <li> + Make pagination -> add rest_framework section to django_project/settings.py and
                api/custompagination.py</li>
        </ul>
    </li>
    <li> + Tune up Scrapy Spider
        <ul>
            <li> + scrapy_project/settings.py -> ROBOTSTXT_OBEY = False</li>
            <li> + scrapy_project/settings.py -> COOKIES_ENABLED = False</li>
            <li> + Create spider icetrade</li>
            <li> + Create Items and Pipelines</li>
            <li> + Update scrapy_project/settings.py -> ITEM_PIPELINES = {'scrapy_project.pipelines.TenderPipeline':
                300,} </li>
            <li> + Add User Agent rotate feature (install and updete settings.py )</li>
            <li> + Spider icetrade: runs manually from terminal-OK, exports to csv-OK, saves PostgreSQL-OK</li>
        </ul>
    </li>

    <li> + Tune up backround task running </li>
    <ul>
        <li> + Install and Config Celery and Redis</li>
        <li> + Install Celery/Redis -> pip install -U Celery redis</li>
        <li> + Create celery.py and tasks.py
        <li> + Create Celery -> touch django_project/celery.py</li>
        <li> + Create task -> touch django_app/tasks.py</li>
        <li> + Update django_project/__init__.py</li>
        <li> + Add redis celery config to # django_project/settings.py</li>
        <li> + Run shell, workers, redis-server</li>
        <li> + Add celery.schedules to celery.py, run celery-beat</li>
        <li> + Check periodic task </li>
    </ul>
    <li> - Implement filtering </li>
    <li> - Deploy to production </li>
</ul>

{% endblock content %}